body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding: 1rem;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-left{
    margin-bottom: auto;  
    display: flex;
    align-items: center;
  }
  .header-right {
    margin-bottom: auto;
    display: flex;
    align-items: center;
  }
  
  .header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  label {
    margin-right: 0.5rem;
  }
  
  input[type='text'] {
    margin-right: 0.5rem;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  