/* Style page for student overview */

/* styles for body and header*/
.parentstudentView{
    text-align: center;
}
body{
    background-color: white;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
.studentName{
    background-color: white;
    padding:2px;
}
h1{
    font-size:42px;
    font-weight: normal
}
.parentstudentLogo{
    height: 15vmin;
    pointer-events: none;
    padding:15px;
}

/*these are to make the top a clickable link to student history*/
div.headLink{
    cursor: pointer;
    position: relative;
}
div.headLink:hover{
    background-color: lightblue;
}
.link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
}
.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    margin: 0 25px;     /*adjust circle widgets here*/
    padding: 10px; 
  }
  .link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Preserve the default text color */
  }
  
/*styles for each period*/
div.studentparentPeriods{
    /*border: 1.5px solid black;*/
    background-color: #d9d9d9;
    box-shadow: 7px 7px 5px gray;
    border-radius: 25px;
    padding: 5px 30px;
    margin: 30px;
    
}
div.displayPeriodandName{
    display: flex;
    justify-content: space-between;
    font-size:30px;
    line-height: 1.5em;
    
}

div.studentAverages{
    padding: 20px;

    justify-content: center;
    display:flex;
}