/* Style page for student overview */

/* styles for body and header*/
body{
    background-color: white;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
header{
    background-color: lightgray;
    /*font-size: 20px;
    padding: 2px; */
    font-size: 2rem;
    padding: 1%;

}

.name {
    text-align: left;
   /* padding-right: 30%; */
   left: 10%;
}

/*these are to make the top a clickable link to student history*/
div.headLink{
    cursor: pointer;
    position: relative;
    padding: 2px;
}
div.headLink:hover{
    background-color: lightblue;
}
.link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
}


.academicsImg, .attendanceImg, .behaviorImg {
    position: relative;
    flex: 1;
    align-items: center;
    height: 100%;
    width: auto;
    justify-content: center;
    
    
    
  }

.image-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 80%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.academicsImg img, .attendanceImg img , .behaviorImg img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid black;
    
    
}

.academicsImg img{
    background-color: #558c3b;
}

.attendanceImg img{
    background-color: #f2ca52;
}

.behaviorImg img {
    background-color: #f25d50;
}



/*styles for each period*/
div.Period{
    position: relative;
    border: 1.5px solid black;
    background-color: lightgray;
    box-shadow: 7px 7px 5px gray;
    border-radius: 25px;
    padding: 7px;
    margin: 30px;

    
    
}

.period-info{
    
   flex: 1;
   margin-bottom: 10px;
   align-items: left;
   display: flex;
   width: 40%;
   flex-direction: column;
    

}