/* Style page for student overview */

/* styles for body and header*/
body{
    background-color: white;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}
header{
    background-color: lightgray;
    font-size: 20px;
    padding: 2px;
}

.name {
    text-align: left;
    padding-right: 30%;
}

.id {
    text-align: right;
    padding-left: 30%;
    
}

/*these are to make the top a clickable link to student history*/
div.headLink{
    cursor: pointer;
    position: relative;
    padding: 2px;
}
div.headLink:hover{
    background-color: lightblue;
}
.link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1;
}


.academicsImg, .attendanceImg, .behaviorImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.academicsImg img, .attendanceImg img , .behaviorImg img{
    max-width: 30%;
    max-height: 100%;
    width: 100;
    height: 100%;
    
}

.academicsImg img{
    background-color: green;
}

.attendanceImg img{
    background-color: yellow;
}

.behaviorImg img {
    background-color: red;
}



/*styles for each period*/
div.Period{
    position: relative;

    border: 1.5px solid black;
    background-color: lightgray;
    box-shadow: 7px 7px 5px gray;
    border-radius: 25px;
    padding: 7px;
    margin: 30px;
}


