/* global-styles.css */

/* 
Red: #f25d50
Yellow: #f2ca52
Green: #558c3b
*/



/* Color Variables */
:root {
  --red-color: #f25d50; /* Red */
  --yellow-color: #f2ca52; /* Yellow */
  --green-color: #558c3b; /* Green */
  --background-color: #f0f0f0; /* Light Gray */
  --text-color: #000;
}

/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
}

h1, h2, h3 {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--red-color);
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

/* Link styles */
a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: var(--text-color);
}

/* Spacing */
h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}


/*
// Possible Animations 
.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

// & Transitions 
.transition {
  transition: all 0.3s ease-in-out;
}
*/